<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
</head>
<body>
<h1>Đăng nhập Admin</h1>
<a href="/">Về trang chính</a>
<hr>

<form method="post" th:action="@{/login}">
    <div>
        <label>Tên đăng nhập:
            <input type="text" name="username"/>
        </label>
    </div>
    <div>
        <label>Mật khẩu:
            <input type="password" name="password"/>
        </label>
    </div>
    <button type="submit">Đăng nhập</button>
</form>

</body>
</html>
